<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset='UTF-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=yes">
    <title>Test Definition Module</title>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src=" https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript"
        src=" https://cdn.datatables.net/buttons/1.2.4/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
    <script type="text/javascript" src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.24/build/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.24/build/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.4/js/buttons.html5.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.1/js/buttons.print.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.2.4/css/buttons.dataTables.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Satisfy">
    <link rel="stylesheet" media="all"
        href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <link id="all-pages-style" rel="stylesheet" href="/public/css/all-pages-style.css">
    <link rel="shortcut icon" href="/public/images/settings-1.png">

    <link rel="stylesheet" href="../../public/plugins/CodeSeven-toastr/build/toastr.min.css">
    <script src="../../public/plugins/CodeSeven-toastr/build/toastr.min.js"></script>
    <script type="text/javascript" src="../../public/plugins/jquery-cookie/jquery.cookie.js"></script>
</head>

<body id="administrationBody"
    onload="
        myClockMethods.myClock();
        AdministrationMethods.fillUserStatisticsTable(),
        AdministrationMethods.fillUnitStatisticsTable(),
        AdministrationMethods.fillStaffStatisticsTable(),
        AdministrationMethods.fillDatabaseStatusTable(),
        AdministrationMethods.fillStafOnLeaveTable(),
        AdministrationMethods.fetchUnits('Laboratory', 'testLab'),
        AdministrationMethods.findAllTests(),
        AdministrationMethods.getMaxTestId(),
        AdministrationMethods.takeUserInfoFromCookie(),
        ShowOrHideMethods.hideDiv('unitDefinitionDiv');
        ShowOrHideMethods.hideDiv('staffDefinitionDiv');
        ShowOrHideMethods.hideDiv('userDefinitionDiv');
        ShowOrHideMethods.hideDiv('administrationStatisticsDiv');
        ShowOrHideMethods.openInNewTabAndAdjustForViews('administrationBody');
        jQueryMethods.setCalenderValueToday('polyclinicExamStatisticsStartDate');
        jQueryMethods.setCalenderValueToday('polyclinicExamStatisticsEndDate');
        jQueryMethods.setCalenderValueToday('doctorExamStatisticsStartDate');
        jQueryMethods.setCalenderValueToday('doctorExamStatisticsEndDate');
        jQueryMethods.getJqueryDatePicker();
        jQueryMethods.toolTipFunction();
        jQueryMethods.bottomUserMenuDrag();
        ShowOrHideMethods.showBackTotopButton();
        InpatientMethods.colorSelectedPatient();
        PolyclinicMethods.flipCardsByTime('staticsCard1', 'staticsCard2', 'staticsCard3','staticsCard4', 'staticsCard5');">

    <div class="generalNotify" id="generalNotify">
        <span id="generalNotifyType" class=""></span>
    </div>


    <div class="mainContainer" id="mainContainer">
        <div class="headerDiv" id="headerDiv">
            <div class="subHeadDiv" id="subHeadDiv">
                <div id="newTabButton" onclick="window.open('\http:\/\/localhost:1609/admin/tests', '_blank');"
                    title="Click for open in new tab."><img class="openInNewTab" id="openInNewTab"
                        src="/public/images/open-new-tab.png" alt=""></div>
                <div id="modulNameText"> Administration Module </div>
                <div>
                    <img class="modulAvatar" src="/public/images/settings-1.png" title="Anasayfa için tıklayınız."
                        onclick="AdministrationMethods.redirectToAdminTab('')">
                </div>
            </div>
        </div>

        <hUserName id="hUserName" class="historyHeaders" onmouseover="LoginProcess.showUserDataOnHover();"
            style="margin: 10px ;cursor: default;" title="">Please Login from main page!</hUserName>
        <p id="clock" title="Know the true value of time!" style="margin: -20px 10px 0px 1250px !important;">Time!</p>

        <div class="bottomScrool" style="margin-top: 10px">
            <p id="bottomScrollP4" style="color: white;">Sağlık Bakanlığı; Yurt Dışına Çıkışlarda Gideceği Ülke
                Tarafından PCR Testi İstenen Kişilere Yapılacak Test Uygulamaları hakkında duyuru yayımladı...
                &#164;&#164; Sağlık Bakanlığı;'COVID-19 (SARS-CoV-2 ENFEKSİYONU) GENEL BİLGİLER,EPİDEMİOLOJİ VE TANI'
                adlı kitapçık duyuru yayımladı... &#164;&#164; it's not a mobile device.</p>
        </div>

        <div class="administrationSubMainContainer" id="administrationSubMainContainer">

            <div id="listOfOperations">
                <button class="polyclinicButtons btn--swap"
                    onclick="AdministrationMethods.redirectToAdminTab('admin/units');
                    AdministrationMethods.showSelectedDivAndHideOthers('unitDefinitionDiv', 'staffDefinitionDiv');
                    AdministrationMethods.showSelectedDivAndHideOthers('unitDefinitionDiv', 'userDefinitionDiv');
                    AdministrationMethods.showSelectedDivAndHideOthers('unitDefinitionDiv', 'administrationStatisticsDiv');">
                    Unit Definition <span>Sub module for units informations.</span></button>

                <button class="polyclinicButtons btn--swap" onclick="
                    AdministrationMethods.redirectToAdminTab('admin/staff');
                    AdministrationMethods.showSelectedDivAndHideOthers('staffDefinitionDiv', 'unitDefinitionDiv');
                    AdministrationMethods.showSelectedDivAndHideOthers('staffDefinitionDiv', 'userDefinitionDiv');
                    AdministrationMethods.showSelectedDivAndHideOthers('staffDefinitionDiv', 'administrationStatisticsDiv');
                    AdministrationMethods.clearForNewStaff();
                    AdministrationMethods.findAllStaffs();">
                    Staff Definition <span>Sub module for staff informations.</span></button>

                <button class="polyclinicButtons btn--swap"
                    onclick="
                    AdministrationMethods.redirectToAdminTab('admin/user');
                    AdministrationMethods.findAllUsers();
                    AdministrationMethods.clearForNewUser();
                    AdministrationMethods.showSelectedDivAndHideOthers('userDefinitionDiv', 'unitDefinitionDiv');
                    AdministrationMethods.showSelectedDivAndHideOthers('userDefinitionDiv', 'staffDefinitionDiv');
                    AdministrationMethods.showSelectedDivAndHideOthers('userDefinitionDiv', 'administrationStatisticsDiv');">
                    User Definition <span>Sub module for user informations.</span></button>

                <button class="polyclinicButtons btn--swap" onclick="AdministrationMethods.redirectToAdminTab('admin/tests');
                    AdministrationMethods.showSelectedDivAndHideOthers('testDefinitionDiv', 'unitDefinitionDiv');
                    AdministrationMethods.showSelectedDivAndHideOthers('testDefinitionDiv', 'staffDefinitionDiv');
                    AdministrationMethods.showSelectedDivAndHideOthers('testDefinitionDiv', 'userDefinitionDiv');
                    AdministrationMethods.showSelectedDivAndHideOthers('testDefinitionDiv', 'testDefinitionDiv');">
                    Tests <span>Sub module test informations.</span></button>

                <button class="polyclinicButtons btn--swap"
                    onclick="AdministrationMethods.redirectToAdminTab('admin/statistics');
                    AdministrationMethods.showSelectedDivAndHideOthers('administrationStatisticsDiv', 'unitDefinitionDiv');
                    AdministrationMethods.showSelectedDivAndHideOthers('administrationStatisticsDiv', 'staffDefinitionDiv');
                    AdministrationMethods.showSelectedDivAndHideOthers('administrationStatisticsDiv', 'userDefinitionDiv');">
                    Administration Statistics <span>Sub module administration statistics.</span></button>
            </div>

            <div id="unitDefinitionDiv">
                <h11 class="historyHeaders">
                    <pName>Unit Definition</pName>
                </h11>

                <div id="unitDefinitionInputsDiv">
                    Id:<br>
                    <input class="unitDefinitionInputs" type="text" name="unitId" id="unitId" readonly
                        style="background-color: lightgrey; cursor: not-allowed;"><br>
                    Unit Name:
                    <input class="unitDefinitionInputs" type="text" name="unitName" id="unitName"
                        placeholder="Unit name"><br>
                    Unit Type:
                    <select class="unitDefinitionInputs" name="unitType" id="unitType"><br>
                        <option value="Polyclinic">Polyclinic</option>
                        <option value="Clinic">Clinic</option>
                        <option value="Pharmacy">Pharmacy</option>
                        <option value="Laboratory">Laboratory</option>
                        <option value="Radiology">Radiology</option>
                    </select><br>
                    Unit Major Dicipline:
                    <select class="unitDefinitionInputs" name="unitMajorDicipline" id="unitMajorDicipline">
                        <option value="GeneralSurgery">General Surgery</option>
                        <option value="Orthopedic">Orthopedic</option>
                        <option value="Emergency">Emergency</option>
                        <option value="Cardiology">Cardiology</option>
                        <option value="Urology">Urology</option>
                        <option value="Biochemistry">Biochemistry</option>
                    </select><br>
                    Beds:
                    <input class="unitDefinitionInputs" type="number" name="beds" id="beds" placeholder="Bed count"
                        min="0"><br>
                    Active / Passive:
                    <select class="unitDefinitionInputs" name="unitActivePassive" id="unitActivePassive">
                        <option value="Active">Active</option>
                        <option value="Passive">Passive</option>
                    </select>
                    <br><br><br><br>

                    <button class="inpatientBtn btn-success" id="saveUnit" title="Click for save unit."
                        onclick="AdministrationMethods.saveUnit();">Save
                    </button>

                    <button type="button" class="inpatientBtn btn-primary" id="newUnit" title="Click for new unit."
                        onclick="AdministrationMethods.clearForNewUnit()">
                        New Unit
                    </button>

                    <button class="inpatientBtn btn-info" title="Click for search unit or units."
                        onclick="AdministrationMethods.findUnitsAtOnce()" id="searchUnitBtn">Search
                    </button>

                    <div id="unitListDiv">
                        <h11 class="historyHeaders">Unit List</h11><br><br>
                        <input class="searchInputs" type="text" id="unitSearchInput"
                            style="width: 100%;margin: 5px 0px 10px 0px;"
                            onkeydown="PolyclinicMethods.searchInTable('unitSearchInput', 'unitListTable')"
                            placeholder="Search for users..."
                            title="Search unit by name, ID, major dicipline or status.">
                        <table id="unitListTable" class="patientTable">
                            <thead>
                                <tr id="tableHeader" style="background-color: #49A681 !important; color: white;">
                                    <td style="border-top-left-radius: 8px !important;">#</td>
                                    <td>Unit Id</td>
                                    <td>Unit Name</td>
                                    <td>Unit Type</td>
                                    <td>Unit Major Dicipline</td>
                                    <td style="border-top-right-radius: 8px;">Unit Status</td>
                                </tr>
                            </thead>
                            <tbody style="background-color: inherit !important;">

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div id="staffDefinitionDiv">
                <h11 class="historyHeaders">
                    <pName>Staff Definition</pName>
                </h11>

                <div id="staffDefinitionInputsDiv">
                    Id: <br>
                    <input class="staffDefinitionInputs" type="text" name="staffId" id="staffId"><br>
                    ID Number: <br>
                    <input class="staffDefinitionInputs" type="number" name="staffTc" id="staffTc"
                        oninput="javascript: if (this.value.length > this.maxLength) {this.value = this.value.slice(0, this.maxLength)}"
                        maxlength="11" minlength="11" required placeholder="Must be 11 digits" title="Must be 11 digits"
                        placeholder="Must be 11 digits"><br>
                    Name: <br>
                    <input class="staffDefinitionInputs" type="text" name="staffName" id="staffName"
                        placeholder="Name"><br>
                    Surname: <br>
                    <input class="staffDefinitionInputs" type="text" name="staffSurname" id="staffSurname"
                        placeholder="Surname"><br>
                    Diploma No: <br>
                    <input class="staffDefinitionInputs" type="text" name="staffDiplomaNo" id="staffDiplomaNo"
                        placeholder="Example: 12345-67"><br>
                    Major Dicipline: <br>
                    <select class="staffDefinitionInputs" name="staffMajorDicipline" id="staffMajorDicipline">
                        <option value="majorDicipline1">Emergency</option>
                        <option value="majorDicipline1">Cardiology</option>
                        <option value="majorDicipline1">Urology</option>
                        <option value="majorDicipline1">Biochemistry</option>
                    </select><br>
                    Staff Group: <br>
                    <select class="staffDefinitionInputs" name="staffGroup" id="staffGroup">
                        <option value="Doctor">Doctor</option>
                        <option value="Nurse">Nurse</option>
                        <option value="Personnel">Personnel</option>
                        <option value="Admin">Admin</option>
                    </select>
                    <br><br><br>

                    <button class="inpatientBtn btn-success" id="saveStaff" title="Click for save staff."
                        onclick="AdministrationMethods.saveStaff();">Save
                    </button>

                    <button type="button" class="inpatientBtn btn-primary" id="newStaff" title="Click for new staff."
                        onclick="AdministrationMethods.findAllStaffs();AdministrationMethods.clearForNewStaff()">
                        New Staff
                    </button>

                    <button class="inpatientBtn btn-info" title="Click for search staff or staffs."
                        onclick="AdministrationMethods.findAllStaffs()" id="searchStaffBtn">Search
                    </button>

                    <br><br><br>

                    <div id="staffListDiv" style="box-shadow: 2px 2px 10px #555;">
                        <h11 class="historyHeaders">Staff List</h11><br>
                        <input class="searchInputs" type="text" id="staffSearchInput"
                            style="width: 100%;margin: 5px 0px 10px 0px;"
                            onkeydown="PolyclinicMethods.searchInTable('staffSearchInput', 'staffList')"
                            placeholder="Search for staffs..."
                            title="Search staff by name, surname, ID, major dicipline or user group.">

                        <table id="staffList" class="patientTable">
                            <thead>
                                <tr id="tableHeader" style="background-color: #49A681 !important; color: white;">
                                    <td style="border-top-left-radius: 8px !important;">Id</td>
                                    <td>ID Number</td>
                                    <td>Name</td>
                                    <td>Surname</td>
                                    <td>Diploma No</td>
                                    <td>Major Dicipline</td>
                                    <td>Staff Group</td>
                                    <td>Photo</td>
                                    <td style="border-top-right-radius: 8px;">Delete</td>
                                </tr>
                            </thead>
                            <tbody style="background-color: inherit !important;">

                            </tbody>
                        </table>
                    </div>

                </div>

                <div class="staffPhoto">
                    <img id="staffPhotoId" src="/public/images/admin-2.png" alt="Staff Photo">
                    <button class="polyclinicButtons btn--swap" id="changeStaffImage"
                        onclick="document.getElementById('getStaffFile').click()">
                        <pDegis>Change</pDegis> <span id="degistirSpan">Change staff's <br> photo.</span>
                    </button>
                    <br>
                    <button class="inpatientBtn btn-primary" style="width: 250px;position: absolute;"
                        onclick="AdministrationMethods.updatePhoto('Staff')">Update Photo
                    </button>

                    <input type='file' id="getStaffFile"
                        onchange="HastaKimlikMethods.changePatientPhoto('getStaffFile','staffPhotoId')"
                        style="display:none">
                </div>
            </div>

            <div id="userDefinitionDiv">
                <h11 class="historyHeaders">
                    <pName>User Definition</pName>
                </h11>

                <div id="userDefinitionInputsDiv">
                    Id: <br>
                    <input class="userDefinitionInputs" type="text" name="userId" id="userId"
                        style="background-color: lightgrey;" readonly><br>
                    Username: <br>
                    <input class="userDefinitionInputs" type="text" name="userNickname" id="userNickname" required
                        placeholder="Example: RCelik" title="Example: RCelik"> <br>
                    Password: <br>
                    <input class="userDefinitionInputs" type="password" name="userPassword" id="userPassword" required
                        minlength="4" placeholder="Minimum 4 digits" title="Minimum 4 digits"> <br>
                    <span for='userPassword' id="showUserPasswordSpanViewer">
                        <i id="showUserPasswordIcon" class="fa fa-eye" aria-hidden="true" style="color: black;"
                            title="Show password!"
                            onclick="ShowOrHideMethods.showPassword('userPassword','showUserPasswordIcon')">
                        </i>
                    </span>
                    <button class="polyclinicButtons btn--swap" id="changeUserPassword"
                        onclick="AdministrationMethods.resetPassword()">
                        <pDegis>Reset</pDegis> <span id="changeUserPasswordSpan">Reset user's password.</span>
                    </button> <br>
                    Name: <br>
                    <input class="userDefinitionInputs" type="text" name="userName" id="userName" required
                        placeholder="User Name" title="User Name"> <br>
                    Surname: <br>
                    <input class="userDefinitionInputs" type="text" name="userSurname" id="userSurname" required
                        placeholder="User Surname" title="User Surname"><br>
                    ID Number: <br>
                    <input class="userDefinitionInputs" type="number" name="userTc" id="userTc"
                        oninput="javascript: if (this.value.length > this.maxLength) {this.value = this.value.slice(0, this.maxLength)}"
                        maxlength="11" minlength="11" required placeholder="Must be 11 digits"
                        title="Must be 11 digits"><br>
                    Major Dicipline: <br>
                    <select class="userDefinitionInputs" name="userMajorDicipline" id="userMajorDicipline">
                        <option value="Emergency">Emergency</option>
                        <option value="Cardiology">Cardiology</option>
                        <option value="Urology">Urology</option>
                        <option value="Biochemistry">Biochemistry</option>
                    </select><br>
                    User Group: <br>
                    <select class="userDefinitionInputs" name="userGroup" id="userGroup">
                        <option value="Doctor">Doctor</option>
                        <option value="Nurse">Nurse</option>
                        <option value="Personnel">Personnel</option>
                        <option value="Admin">Admin</option>
                    </select><br><br><br><br>

                    <button class="inpatientBtn btn-success" id="saveUser" title="Click for save user."
                        onclick="AdministrationMethods.saveUser()">Save</button>

                    <button type="button" class="inpatientBtn btn-primary" id="newUser" title="Click for new user."
                        onclick="AdministrationMethods.clearForNewUser()">
                        New User</button>

                    <button class="inpatientBtn btn-info" title="Click for search user or users."
                        onclick="AdministrationMethods.findUsersAtOnce()" id="searchUserBtn">Search</button>

                    <div id="userListDiv">
                        <h11 class="historyHeaders">User List</h11><br><br>
                        <input class="searchInputs" type="text" id="userSearchInput"
                            style="width: 100%;margin: 5px 0px 10px 0px;"
                            onkeydown="PolyclinicMethods.searchInTable('userSearchInput', 'usersList')"
                            placeholder="Search for users..."
                            title="Search user by name, surname, ID, major dicipline or user group.">
                        <table id="usersList" class="patientTable">
                            <thead>
                                <tr id="tableHeader" style="background-color: #49A681 !important; color: white;">
                                    <td style="border-top-left-radius: 8px !important;">Id</td>
                                    <td>Username</td>
                                    <td>Name</td>
                                    <td>Surname</td>
                                    <td>ID Number</td>
                                    <td>Major Dicipline</td>
                                    <td>User Group</td>
                                    <td>Photo</td>
                                    <td style="border-top-right-radius: 8px;">Delete</td>
                                </tr>
                            </thead>
                            <tbody style="background-color: inherit !important;">

                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="userPhoto">
                    <img id="userPhotoId" src="/public/images/admin-2.png" alt="User Photo">
                    <br>
                    <button class="inpatientBtn btn-primary" style="width: 250px;"
                        onclick="AdministrationMethods.updatePhoto('User')">Update Photo
                    </button>

                    <button class="polyclinicButtons btn--swap" id="changeUserImage"
                        onclick="document.getElementById('getUserFile').click()">
                        <pDegis>Change</pDegis> <span id="degistirSpan">Change user's <br> photo.</span>
                    </button>
                    <input type='file' id="getUserFile"
                        onchange="HastaKimlikMethods.changePatientPhoto('getUserFile','userPhotoId')"
                        style="display:none">
                </div>
            </div>

            <div id="testDefinitionDiv">
                <h11 class="historyHeaders">
                    <pName>Test Definition</pName>
                </h11>

                <div id="testDefinitionInputsDiv">
                    Id:<br>
                    <input class="testDefinitionInputs" type="text" name="testId" id="testId" readonly
                        style="background-color: lightgrey; cursor: not-allowed;"><br>
                    Test Code:
                    <input class="testDefinitionInputs" type="text" name="testCode" id="testCode"
                        placeholder="Test Code"><br>
                    Test Name:
                    <input class="testDefinitionInputs" type="text" name="testName" id="testName"
                        placeholder="Test name"><br>
                    Test Type:
                    <select class="testDefinitionInputs" name="testType" id="testType">
                        <option value="Laboratory">Laboratory</option>
                        <option value="Radiology">Radiology</option>
                    </select><br>
                    Test Laboratory:
                    <select class="testDefinitionInputs" name="testLab" id="testLab"><br></select><br>
                    Test Hints:
                    <input type="text" class="testDefinitionInputs" id="testHint"
                        placeholder="Test hints for users "></input><br>
                    Max Request:
                    <input class="testDefinitionInputs" type="number" id="maxRequest"
                        placeholder="Maximum number of request" min="0"><br>
                    Active / Passive:
                    <select class="testDefinitionInputs" name="testActivePassive" id="testActivePassive">
                        <option value="Active">Active</option>
                        <option value="Passive">Passive</option>
                    </select>
                    <br><br><br><br>

                    <button class="inpatientBtn btn-success" id="saveTest" title="Click for save unit."
                        onclick="AdministrationMethods.saveTest();">Save
                    </button>

                    <button type="button" class="inpatientBtn btn-primary" id="newTest" title="Click for new unit."
                        onclick="AdministrationMethods.clearForNewTest()">New Test
                    </button>

                    <button class="inpatientBtn btn-info" title="Click for search test or tests."
                        onclick="AdministrationMethods.findTestAtOnce()" id="searchUnitBtn">Search
                    </button>

                    <div id="testListDiv">
                        <h11 class="historyHeaders">Tests List</h11><br><br>
                        <input class="searchInputs" type="text" id="testSearchInput"
                            style="width: 100%;margin: 5px 0px 10px 0px;"
                            onkeydown="PolyclinicMethods.searchInTable('testSearchInput', 'testListTable')"
                            placeholder="Search for users..."
                            title="Search test by test name, test code, laboratory or status.">
                        <table id="testListTable" class="patientTable">
                            <thead>
                                <tr id="tableHeader" style="background-color: #49A681 !important; color: white;">
                                    <td style="border-top-left-radius: 8px !important;">#</td>
                                    <td>Id</td>
                                    <td>Test Code</td>
                                    <td>Test Name</td>
                                    <td>Test Type</td>
                                    <td>Test Lab.</td>
                                    <td>Test Hint</td>
                                    <td>Max Request</td>
                                    <td style="border-top-right-radius: 8px;">Test Status</td>
                                </tr>
                            </thead>
                            <tbody style="background-color: inherit !important;">

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div id="administrationStatisticsDiv">
                <h11 class="historyHeaders">
                    <pName>Administration Statistics</pName>
                </h11>

                <div id="administrationStatisticsButtonDiv">

                    <button class="polyclinicButtons btn--swap"
                        onclick="ShowOrHideMethods.showDiv('administrationStatisticsDetailDiv','flex');
                            AdministrationMethods.showSelectedDivAndHideOthers('polyclinicExamStatistics', 'doctorExamStatistics');
                            AdministrationMethods.showSelectedDivAndHideOthers('polyclinicExamStatistics', 'sqlQueriesDiv');">
                        Polyclinic Exam Statistics <span>Sub module for units informations.</span></button>

                    <button class="polyclinicButtons btn--swap"
                        onclick="ShowOrHideMethods.showDiv('administrationStatisticsDetailDiv','flex');
                            AdministrationMethods.showSelectedDivAndHideOthers('doctorExamStatistics', 'polyclinicExamStatistics');
                            AdministrationMethods.showSelectedDivAndHideOthers('doctorExamStatistics', 'sqlQueriesDiv');">
                        Doctor Exam Statistics <span>Sub module for doctors informations.</span></button>

                    <button class="polyclinicButtons btn--swap"
                        onclick="ShowOrHideMethods.showDiv('administrationStatisticsDetailDiv','flex');
                            AdministrationMethods.showSelectedDivAndHideOthers('sqlQueriesDiv', 'polyclinicExamStatistics');
                            AdministrationMethods.showSelectedDivAndHideOthers('sqlQueriesDiv', 'doctorExamStatistics');">
                        SQL Queries <span>Sub module user's SQL Queries.</span></button>
                </div>

                <div id="administrationStatisticsDetailDiv">

                    <div id="polyclinicExamStatistics">
                        <h11 class="historyHeaders">Polyclinic Exam Statistics</h11><br><br>
                        Date: <br>
                        <input type="text" name="polyclinicExamStatisticsStartDate"
                            id="polyclinicExamStatisticsStartDate"> - <input type="text"
                            name="polyclinicExamStatisticsEndDate" id="polyclinicExamStatisticsEndDate">
                        <br><br>
                        Polyclinic:
                        <select name="polyclinicExamStatisticsPolyclinicSelect"
                            id="polyclinicExamStatisticsPolyclinicSelect"
                            class="polyclinicExamStatisticsPolyclinicSelect">
                            <option value="clinic1">General Surgery Polyclinic</option>
                            <option value="clinic2">Orthopedic Polyclinic</option>
                            <option value="clinic3">Cardiology Polyclinic</option>
                            <option value="clinic4">Urology Polyclinic</option>
                        </select>
                        <br>
                        <button class="inpatientBtn btn-success" id="printStatistics"
                            onclick="AdministrationMethods.printReport('polyclinicExamStatisticsTableDiv','Polyclinic Exam Statistics');"
                            title="Verilerinizi kaydetmek  için tıklayınız..">Print
                            <i class="fa fa-print" style="margin-left: 10px;"></i>
                        </button>
                    </div>

                    <div id="doctorExamStatistics">
                        <h11 class="historyHeaders">Doctor Exam Statistics</h11><br><br>
                        Date: <br>
                        <input type="text" name="doctorExamStatisticsStartDate" id="doctorExamStatisticsStartDate">
                        - <input type="text" name="doctorExamStatisticsEndDate" id="doctorExamStatisticsEndDate">
                        <br><br>
                        Doctor:
                        <select name="doctorExamStatisticsPolyclinicSelect" id="doctorExamStatisticsPolyclinicSelect"
                            class="doctorExamStatisticsPolyclinicSelect">
                            <option value="doctor1">Prof.Dr.Ahmet MEHMET</option>
                            <option value="doctor2">Uzm.Dr.Ayse FATMA</option>
                            <option value="doctor3">Prof.Dr.Hasan HUSEYIN</option>
                            <option value="doctor4">Prof.Dr. Gulsema HAYAT</option>
                        </select>
                        <br>
                        <button class="inpatientBtn btn-success" id="printDoctorStatistics"
                            onclick="AdministrationMethods.printReport('doctorExamStatisticsTableDiv','Doctor Exam Statistics');"
                            title="Verilerinizi kaydetmek  için tıklayınız..">Print
                            <i class="fa fa-print" style="margin-left: 10px;"></i>
                        </button>
                    </div>

                    <div id="sqlQueriesDiv">
                        <h11 class="historyHeaders">SQL Queries</h11><br><br>
                        <textarea name="sqlQueryText" id="sqlQueryText" cols="80" rows="10"
                            placeholder="Example: select * from table"></textarea>
                        <br>
                        <button class="inpatientBtn btn-success" id="executeSql"
                            onclick="ShowOrHideMethods.generalSuccesAlert('Successfully Executed!')"
                            title="Excute query!">Execute
                        </button>
                        <br><br>
                        <div id="sqlQueryResultTableDiv">
                            <h11 class="historyHeaders">Result <i class="fa fa-print"
                                    onclick="AdministrationMethods.printReport('sqlQueryResultTableDiv','Query Result')"
                                    style="margin-left: 510px; color: black;cursor: pointer;"
                                    title="Print results!"></i></h11>
                            <br><br>
                            <table id="sqlQueryResultTable">
                                <tr id="tableHeader">
                                    <th>#####</th>
                                    <th>#####</th>
                                    <th>#####</th>
                                    <th>#####</th>
                                    <th>#####</th>
                                    <th>#####</th>
                                    <th>#####</th>
                                    <th>#####</th>
                                </tr>
                                <tr>
                                    <td>*****</td>
                                    <td>*****</td>
                                    <td>*****</td>
                                    <td>*****</td>
                                    <td>*****</td>
                                    <td>*****</td>
                                    <td>*****</td>
                                    <td>*****</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="administrationStaticsDiv">
        <!-- cards -->
        <div class="card-container" id="poly-card-container">

            <div class="baseCard" id="statics1"
                onmouseover="return PolyclinicMethods.stopAnimationsOnHover('staticsCard1', 'staticsCard2', 'staticsCard3','staticsCard4', 'staticsCard5');"
                onmouseout="return PolyclinicMethods.flipCardsByTime('staticsCard1', 'staticsCard2', 'staticsCard3','staticsCard4', 'staticsCard5');">
                <div class="card" id="staticsCard1">
                    <div id="analytcStatics1" class="front" style="background-image: url('/public/images/user-statistics.png');
                            background-size: cover;">
                        <div class="card-title">
                            <header>
                                <h4>
                                    User Statistics
                                </h4>
                            </header>
                        </div>
                    </div>
                    <div class="back">
                        <button class="helpButtons fa fa-question-circle" data-toggle="tooltip"
                            title="User statistics shows details of staff."></button>

                        <p class="cardP" id="userStatisticsCardBack">
                            User Statistics. <br><br>

                        <table id="userStatisticsTable" style="width: 100%;line-height: 15px;cursor: default;">
                            <thead>
                                <tr id="tableHeader" style="background-color: #49A681 !important; color: white;">
                                    <td
                                        style="border-top-left-radius: 8px !important;border-right: 1px solid #b9c8d2 !important;">
                                        User Group
                                    </td>
                                    <td style="border-top-right-radius: 8px;">Count</td>
                                </tr>
                            </thead>
                            <tbody style="background-color: inherit !important;">

                            </tbody>
                        </table>
                        </p>
                    </div>
                </div>
            </div>

            <div class="baseCard" id="statics2"
                onmouseover="return PolyclinicMethods.stopAnimationsOnHover('staticsCard1', 'staticsCard2', 'staticsCard3','staticsCard4', 'staticsCard5');"
                onmouseout="return PolyclinicMethods.flipCardsByTime('staticsCard1', 'staticsCard2', 'staticsCard3','staticsCard4', 'staticsCard5');">
                <div class="card" id="staticsCard2">
                    <div id="analytcStatics2" class="front" style="background-image: url('/public/images/unit-statistics.png');
                            background-size: cover;">
                        <div class="card-title">
                            <header>
                                <h4>
                                    Unit Statistics
                                </h4>
                            </header>
                        </div>
                    </div>
                    <div class="back" style="font-size: smaller;">
                        <button class="helpButtons fa fa-question-circle" data-toggle="tooltip"
                            title="This statistics shows details of units by to unit type and status."></button>
                        <p class="cardP" id="unitStatisticBackCardHeader">
                            Unit Statistics. <br><br>

                        <table id="unitStatisticsTable" style="width: 100%;font-size: smaller;line-height: 10px;">
                            <thead>
                                <tr id="tableHeader" style="background-color: #49A681 !important; color: white;">
                                    <td
                                        style="border-top-left-radius: 8px !important;border-right: 1px solid #b9c8d2 !important;">
                                        Units Group
                                    </td>
                                    <td style="border-top: none; border-right: 1px solid #b9c8d2 !important;">
                                        Units Status
                                    </td>
                                    <td style="border-top-right-radius: 8px;">Count</td>
                                </tr>
                            </thead>
                            <tbody style="background-color: inherit !important;">

                            </tbody>
                        </table>
                        </p>
                    </div>
                </div>
            </div>

            <div class="baseCard" id="statics3"
                onmouseover="return PolyclinicMethods.stopAnimationsOnHover('staticsCard1', 'staticsCard2', 'staticsCard3','staticsCard4', 'staticsCard5');"
                onmouseout="return PolyclinicMethods.flipCardsByTime('staticsCard1', 'staticsCard2', 'staticsCard3','staticsCard4', 'staticsCard5');">
                <div class="card" id="staticsCard3">
                    <div id="analytcStatics3" class="front" style="background-image: url('/public/images/staff-statistics-1.png');
                            background-size: cover;">
                        <div class="card-title">
                            <header>
                                <h4>
                                    Staff Statistics
                                </h4>
                            </header>
                        </div>
                    </div>
                    <div class="back">
                        <button class="helpButtons fa fa-question-circle" data-toggle="tooltip"
                            title="This statistics shows count of staff by to staff group."></button>
                        <p class="cardP" id="staffStatisticsCardFrontHeader">
                            Staff Statistics. <br><br>

                        <table id="staffStatisticsTable" style="width: 100%;">
                            <thead>
                                <tr id="tableHeader" style="background-color: #49A681 !important; color: white;">
                                    <td
                                        style="border-top-left-radius: 8px !important;border-right: 1px solid #b9c8d2 !important;">
                                        Staff Group
                                    </td>
                                    <td style="border-top-right-radius: 8px;">Count</td>
                                </tr>
                            </thead>
                            <tbody style="background-color: inherit !important;">

                            </tbody>
                        </table>
                        </p>
                    </div>
                </div>
            </div>

            <div class="baseCard" id="statics4"
                onmouseover="return PolyclinicMethods.stopAnimationsOnHover('staticsCard1', 'staticsCard2', 'staticsCard3','staticsCard4', 'staticsCard5');"
                onmouseout="return PolyclinicMethods.flipCardsByTime('staticsCard1', 'staticsCard2', 'staticsCard3','staticsCard4', 'staticsCard5');">
                <div class="card" id="staticsCard4">
                    <div id="analytcStatics4" class="front" style="background-image: url('/public/images/staff-leave.png');
                        background-size: 280px;">
                        <div class="card-title">
                            <header>
                                <h4>
                                    Staff on Leave
                                </h4>
                            </header>
                        </div>
                    </div>
                    <div class="back">
                        <button class="helpButtons fa fa-question-circle" data-toggle="tooltip"
                            title="These statistics show the personnel who are still on leave today by personnel group."></button>
                        <p class="cardP" id="staffOnLeaveBackCard">
                            Staff on Leave. <br><br>

                        <table id="staffLeaveStatisticsTable" style="width: 100%;">
                            <thead>
                                <tr id="tableHeader" style="background-color: #49A681 !important; color: white;">
                                    <td
                                        style="border-top-left-radius: 8px !important;border-right: 1px solid #b9c8d2 !important;">
                                        Staff Group
                                    </td>
                                    <td style="border-top-right-radius: 8px;">Count</td>
                                </tr>
                            </thead>
                            <tbody style="background-color: inherit !important;">

                            </tbody>
                        </table>
                        </p>
                    </div>
                </div>
            </div>

            <div class="baseCard" id="statics5"
                onmouseover="return PolyclinicMethods.stopAnimationsOnHover('staticsCard1', 'staticsCard2', 'staticsCard3','staticsCard4', 'staticsCard5');"
                onmouseout="return PolyclinicMethods.flipCardsByTime('staticsCard1', 'staticsCard2', 'staticsCard3','staticsCard4', 'staticsCard5');">
                <div class="card" id="staticsCard5">
                    <div id="analytcStatics5" class="front" style="background-image: url('/public/images/database-statistics.jpg');
                        background-size: 200px; ">
                        <div class="card-title">
                            <header>
                                <h4>
                                    Database Status.
                                </h4>
                            </header>
                        </div>
                    </div>
                    <div class="back">
                        <button class="helpButtons fa fa-question-circle" data-toggle="tooltip"
                            title="These statistics show status of database."></button>
                        <p class="cardP">
                            Database Status. <br><br>
                        <table id="databaseStatusTable" style="width: 100%;">
                            <thead>
                                <tr id="tableHeader" style="background-color: #49A681 !important; color: white;">
                                    <td
                                        style="border-top-left-radius: 8px !important;border-right: 1px solid #b9c8d2 !important;">
                                        Database Table
                                    </td>
                                    <td style="border-top-right-radius: 8px;">Count</td>
                                </tr>
                            </thead>
                            <tbody style="background-color: inherit !important;">

                            </tbody>
                        </table>
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
    </div>

    <button onclick="ShowOrHideMethods.backtoTopFunction();" id="goTotop" title="Go to top"></button>

    <div id="polyclinicExamStatisticsTableDiv">
        <table id="polyclinicExamStatisticsTable">
            <tr id="tableHeader">
                <th>Id</th>
                <th>Unit Name</th>
                <th>Patient Count</th>
            </tr>
            <tr>
                <td>1</td>
                <td>General Surgery Polyclinic</td>
                <td>14</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Orthopedic Polyclinic</td>
                <td>22</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Cardiology Polyclinic</td>
                <td>9</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Urology Polyclinic</td>
                <td>15</td>
            </tr>
        </table>
    </div>

    <div id="doctorExamStatisticsTableDiv">
        <table id="doctorExamStatisticsTable">
            <tr id="tableHeader">
                <th>#</th>
                <th>Doctor Name</th>
                <th>Patient Count</th>
            </tr>
            <tr>
                <td>1</td>
                <td>Prof.Dr.Ahmet MEHMET</td>
                <td>12</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Uzm.Dr.Ayse FATMA</td>
                <td>9</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Prof.Dr.Hasan HUSEYIN</td>
                <td>17</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Prof.Dr. Gulsema HAYAT</td>
                <td>21</td>
            </tr>
        </table>
    </div>

    <div id="polyclinicExamStatisticsTableDiv">
        <table id="polyclinicExamStatisticsTable">
            <tr id="tableHeader">
                <th>Id</th>
                <th>Unit Name</th>
                <th>Patient Count</th>
            </tr>
            <tr>
                <td>1</td>
                <td>General Surgery Polyclinic</td>
                <td>14</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Orthopedic Polyclinic</td>
                <td>22</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Cardiology Polyclinic</td>
                <td>9</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Urology Polyclinic</td>
                <td>15</td>
            </tr>
        </table>
    </div>

    <div id="doctorExamStatisticsTableDiv">
        <table id="doctorExamStatisticsTable">
            <tr id="tableHeader">
                <th>#</th>
                <th>Doctor Name</th>
                <th>Patient Count</th>
            </tr>
            <tr>
                <td>1</td>
                <td>Prof.Dr.Ahmet MEHMET</td>
                <td>12</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Uzm.Dr.Ayse FATMA</td>
                <td>9</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Prof.Dr.Hasan HUSEYIN</td>
                <td>17</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Prof.Dr. Gulsema HAYAT</td>
                <td>21</td>
            </tr>
        </table>
    </div>

    <div id="userStatistics" class="modal" style="padding: 60px;">
        <div id="userStatistics-modal-content" class="userStatisticsContent animate" action="?action=add" method="post">
            <div id="userStatisticsImgcontainer" class="imgcontainer">
                <span onclick="document.getElementById('userStatistics').style.display='none'"
                    id="userStatisticsCloseBtn" class="close" title="Close!">&times;</span>
                <img id="myAvatar" src="/public/images/statistics-12.png" alt="Avatar" class="avatar">
            </div>
            <div id="userStatisticsContainer" class="userStatisticsContainer">
                <h11 class="historyHeaders" style="margin: 5px;color: white;">User Login Statistics</h11>
                <table id="userLoginStatsTable">
                    <thead>
                        <tr id="tableHeader">
                            <th>#</th>
                            <th>Ip Adress</th>
                            <th>Local Machine</th>
                            <th>Login Date</th>
                            <th>Login Duration</th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
                <br><br>
                <h11 id="lastPasswordChangeStatistics" class="historyHeaders" style="margin: 5px;color: white;">-</h11>
                <br><br>
                <h11 class="historyHeaders" style="margin: 5px;color: white;">User Message Statistics</h11>
                <br>
                <table id="userMessageStatsTable">
                    <tr id="tableHeader">
                        <th>Inbox Messages</th>
                        <th>Read Messages</th>
                        <th>Unread Messages</th>
                        <th>Sent Messages</th>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>2</td>
                        <td>0</td>
                        <td>2</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div id="userTraining" class="modal" style="padding: 60px;">
        <div id="userTraining-modal-content" class="userTrainingContent animate" action="?action=add" method="post">
            <div id="userTrainingImgcontainer" class="imgcontainer">
                <span onclick="document.getElementById('userTraining').style.display='none'" id="userTrainingCloseBtn"
                    class="close" title="Close!">&times;</span>
                <img id="myAvatar" src="/public/images/training-4.png" alt="Avatar" class="avatar">
            </div>
            <h11 class="historyHeaders" style="margin: 5px;color: white;"> User Incoming Trainings</h11>
            <div id="userTrainingContainer" class="userTrainingContainer">
                <table id="userTrainingTable">
                    <tr class="testTableHeader">
                        <th>#</th>
                        <th>Training</th>
                        <th>Date</th>
                        <th>Place</th>
                        <th>Document</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>CPR Training</td>
                        <td>01.10.2020 14:00</td>
                        <td>Central Conferece Room</td>
                        <td>
                            <a id="documentOpenLink1" class="modulLink"
                                href="/ViewerJS/#../public/documents/test-file.pdf" target="_blank">Open File</a>
                        </td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Safety and Hygen Training</td>
                        <td>12.10.2020 14:00</td>
                        <td>Central Conferece Room</td>
                        <td>
                            <a class="modulLink" href="/ViewerJS/#../public/documents/test-file.pdf"
                                target="_blank">Open File</a>
                        </td>
                    </tr>
                </table>
                <br><br>

                <h11 class="historyHeaders" style="margin: 5px;color: white;"> User Old Trainings</h11><br>
                <table id="userOldTrainingTable">
                    <tr class="testTableHeader">
                        <th>#</th>
                        <th>Training</th>
                        <th>Date</th>
                        <th>Place</th>
                        <th>Document</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>HBYS Training</td>
                        <td>01.03.2020 09:00</td>
                        <td>Central Conferece Room</td>
                        <td>
                            <a id="documentOpenLink1" class="modulLink"
                                href="/ViewerJS/#../public/documents/test-file.pdf" target="_blank">Open File</a>
                        </td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Covid-19 Training</td>
                        <td>12.01.2020 14:00</td>
                        <td>Central Conferece Room</td>
                        <td>
                            <a class="modulLink" href="/ViewerJS/#../public/documents/test-file.pdf"
                                target="_blank">Open File</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div id="userSettings" class="modal" style="padding: 60px;">
        <div id="userSettings-modal-content" class="userSettingsContent animate" action="?action=add" method="post">
            <div id="userSettingsImgcontainer" class="imgcontainer">
                <span onclick="document.getElementById('userSettings').style.display='none'" id="userSettingsCloseBtn"
                    class="close" title="Close!">&times;</span>
                <img id="myAvatar" src="/public/images/Bagg-Boxes-Icons-001/configuration-Bagg.png" alt="Avatar"
                    class="avatar">
            </div>
            <h11 class="historyHeaders" style="margin: 5px;color: white;"> User Settings</h11>
            <div id="userSettingsContainer" class="userSettingsContainer">
                Old Password: <br>
                <input type="password" name="userOldPassword" id="userOldPassword"
                    placeholder="Please enter your current password."
                    onclick="ShowOrHideMethods.showCapsLockOnWarning('pCapsLockIndicator1', event)"
                    onkeyup="ShowOrHideMethods.showCapsLockOnWarning('pCapsLockIndicator1', event)">
                <br>
                New Password: <br>
                <input type="password" name="userNewPassword" id="userNewPassword"
                    placeholder="Please enter your new password."
                    onclick="ShowOrHideMethods.showCapsLockOnWarning('pCapsLockIndicator1', event)"
                    onkeyup="ShowOrHideMethods.showCapsLockOnWarning('pCapsLockIndicator1', event)">
                <span for='userNewPassword' class="p-viewer">
                    <i id="showPasswordIcon1" class="fa fa-eye" aria-hidden="true" style="color: black;"
                        title="Show password!"
                        onclick="ShowOrHideMethods.showPassword('userNewPassword','showPasswordIcon1')">
                    </i>
                </span>
                <br>
                New Password Repeat: <br>
                <input type="password" name="userNewPasswordRepeat" id="userNewPasswordRepeat"
                    placeholder="Please re-enter your new password."
                    onclick="ShowOrHideMethods.showCapsLockOnWarning('pCapsLockIndicator1', event)"
                    onkeyup="ShowOrHideMethods.showCapsLockOnWarning('pCapsLockIndicator1', event),
                    CheckAndClearMethods.checkIfTextsAreSame('userNewPassword', 'userNewPasswordRepeat', 'pCapsLockIndicator1')">
                <span for='userNewPasswordRepeat' class="p-viewer">
                    <i id="showPasswordIcon2" class="fa fa-eye" aria-hidden="true" style="color: black;"
                        title="Show password!"
                        onclick="ShowOrHideMethods.showPassword('userNewPasswordRepeat','showPasswordIcon2')">
                    </i>
                </span>
                <br>
                <pCapsLockIndicator1 id="pCapsLockIndicator1">WARNING! Caps lock is ON.</pCapsLockIndicator1>
                <br>
                <button class="inpatientBtn btn-success" id="changePassword" onclick="LoginProcess.changeUserPassword()"
                    title="Change password!">Change Password
                </button>
            </div>
        </div>
    </div>

    <div id="userMessaging" class="modal" style="padding: 60px;">
        <div id="userMessaging-modal-content" class="userMessagingContent animate">
            <div id="userMessagingImgcontainer" class="imgcontainer">
                <span onclick="document.getElementById('userMessaging').style.display='none'" id="userMessagingCloseBtn"
                    class="close" title="Close!">&times;</span>
                <img id="myAvatar" src="/public/images/message-2.png" alt="Avatar" class="avatar">
            </div>
            <div id="userMessageSubContainer">
                <div id="userMessageHistory">
                    <h11 class="historyHeaders" style="margin: 5px;color: white;"> User Inbox</h11>
                    <div id="userMessagingContainer" class="userMessagingContainer">
                        <table id="userInboxTable">
                            <tr class="testTableHeader">
                                <th>#</th>
                                <th>Subject</th>
                                <th>Date</th>
                                <th>From</th>
                                <th>Message</th>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>HBYS Training</td>
                                <td>01.03.2020 09:00</td>
                                <td>Central Conferece Room</td>
                                <td>
                                    <a id="documentOpenLink1" class="modulLink"
                                        href="/ViewerJS/#../public/documents/test-file.pdf" target="_blank">Open
                                        Message</a>
                                </td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Covid-19 Training</td>
                                <td>12.01.2020 14:00</td>
                                <td>Central Conferece Room</td>
                                <td>
                                    <a class="modulLink" href="/ViewerJS/#../public/documents/test-file.pdf"
                                        target="_blank">Open Message</a>
                                </td>
                            </tr>
                        </table>
                        <br><br>

                        <h11 class="historyHeaders"> User Sent</h11><br>
                        <table id="userSentMessagesTable">
                            <tr class="testTableHeader">
                                <th>#</th>
                                <th>Subject</th>
                                <th>Date</th>
                                <th>From</th>
                                <th>Message</th>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>HBYS Training</td>
                                <td>01.03.2020 09:00</td>
                                <td>Central Conferece Room</td>
                                <td>
                                    <a id="documentOpenLink1" class="modulLink"
                                        href="/ViewerJS/#../public/documents/test-file.pdf" target="_blank">Open
                                        Message</a>
                                </td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Covid-19 Training</td>
                                <td>12.01.2020 14:00</td>
                                <td>Central Conferece Room</td>
                                <td>
                                    <a class="modulLink" href="/ViewerJS/#../public/documents/test-file.pdf"
                                        target="_blank">Open Message</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div id="userNewMessageDiv">
                    <h11 class="historyHeaders" style="margin: 5px;color: white;">Send Message</h11>
                    <br><br>
                    Subject: <br>
                    <input type="text" name="userMessageSubject" id="userMessageSubject">
                    <br>
                    To: <br>
                    <input type="text" name="userMessageTo" id="userMessageTo">
                    <br>
                    <!-- kisiler -->
                    <div class="dropdown">
                        <button onclick="InpatientMethods.showDropDownInside('userMessagePerson')"
                            class="polyclinicButtons btn--swap" id="userMessagePersonBtn">Phone Book <span
                                style="font-size: 16px;">Add person!</span></button>
                        <div id="userMessagePerson" class="dropdown-content"
                            onclick="AdministrationMethods.showSelectedElementInDropdown('userMessagePerson', 'userMessageTo')">
                            <input type="text" placeholder="Search.." id="userMessagePersonSearch" autofocus
                                onkeyup="InpatientMethods.filterTaniDropdown('userMessagePersonSearch', 'userMessagePerson')">
                            <a>Recep CELIK</a>
                            <a>Adnan YILDIRIM</a>
                            <a>Onder KARABULUT</a>
                            <a>Ayse FATMA</a>
                            <a>John QUERY</a>
                        </div>
                    </div>
                    Message: <br>
                    <textarea name="userMessageBody" id="userMessageBody" cols="87" rows="7"></textarea>
                    <br>
                    <button class="inpatientBtn btn-primary" id="userMessageSend"
                        onclick="ShowOrHideMethods.generalSuccesAlert('Successfully Sent!')" title="Send message!">Send
                    </button>
                    <br>
                </div>
            </div>
        </div>
    </div>

    <!-- bottom user menu -->
    <div class="bottomUserMenu">
        <nav class="menu">
            <input type="checkbox" href="#" class="menu-open" name="menu-open" id="menu-open" />
            <label class="menu-open-button" for="menu-open" title="User Menu">
                <span class="hamburger hamburger-1"></span>
                <span class="hamburger hamburger-2"></span>
                <span class="hamburger hamburger-3"></span>
            </label>

            <a class="menu-item" title="User Statistics." onclick="
                ShowOrHideMethods.showPopUpModal('userStatistics'); 
                LoginProcess.userLoginStatistics();
                LoginProcess.getLastPasswordChangeStatistics();">
                <i class="fa fa-bar-chart"></i> </a>
            <a class="menu-item" title="User Trainings." onclick="ShowOrHideMethods.showPopUpModal('userTraining')"> <i
                    class='fa fa-file-text'></i></a>
            <a class="menu-item" title="User Settings." onclick="ShowOrHideMethods.showPopUpModal('userSettings')"> <i
                    class="fa fa-cog   fa-fw"></i> </a>
            <a class="menu-item" title="User Messages." onclick="ShowOrHideMethods.showPopUpModal('userMessaging')"> <i
                    class="fa fa-envelope"></i> </a>
            <a class="menu-item"> <i class="fa fa-cog"></i> </a>

        </nav>

        <!-- filters -->
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
            <defs>
                <filter id="shadowed-goo">

                    <feGaussianBlur in="SourceGraphic" result="blur" stdDeviation="10" />
                    <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7"
                        result="goo" />
                    <feGaussianBlur in="goo" stdDeviation="3" result="shadow" />
                    <feColorMatrix in="shadow" mode="matrix" values="0 0 0 0 0  0 0 0 0 0  0 0 0 0 0  0 0 0 1 -0.2"
                        result="shadow" />
                    <feOffset in="shadow" dx="1" dy="1" result="shadow" />
                    <feBlend in2="shadow" in="goo" result="goo" />
                    <feBlend in2="goo" in="SourceGraphic" result="mix" />
                </filter>
                <filter id="goo">
                    <feGaussianBlur in="SourceGraphic" result="blur" stdDeviation="10" />
                    <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7"
                        result="goo" />
                    <feBlend in2="goo" in="SourceGraphic" result="mix" />
                </filter>
            </defs>
        </svg>
    </div>
    <!-- end of bottom user menu  -->


    <!-- Footer -->
    <footer class="page-footer">

        <!-- Footer Elements -->
        <div class="footer-container" style="padding: 10px; margin: 10px;">

            <!-- Social buttons -->
            <ul class="list-unstyled list-inline text-center">
                <li class="list-inline-item">
                    <button id="facebookBtn" class="socialMedBtns" title="Hospital's Facebook Page"
                        onclick="ShowOrHideMethods.socialMediaNewTab('facebookBtn');">
                        <a class="btn-floating btn-fb fa-2x">
                            <i class="fa fa-facebook-square"> </i>
                        </a>
                    </button>
                </li>
                <li class="list-inline-item">
                    <button id="twitterBtn" class="socialMedBtns" title="Hospital's Twitter Page"
                        onclick="ShowOrHideMethods.socialMediaNewTab('twitterBtn');">
                        <a class="btn-floating btn-tw fa-2x">
                            <i class="fa fa-twitter-square"> </i>
                        </a>
                    </button>
                </li>
                <li class="list-inline-item">
                    <button id="googlePlusBtn" class="socialMedBtns" title="Hospital's Google Plus Page"
                        onclick="ShowOrHideMethods.socialMediaNewTab('googlePlusBtn');">
                        <a id="googlePlusBtn" class="btn-floating btn-gplus fa-2x">
                            <i class="fa fa-google-plus-square"> </i>
                        </a>
                    </button>
                </li>
                <li class="list-inline-item">
                    <button id="linkedinBtn" class="socialMedBtns" title="Hospital's LinkedIn Page"
                        onclick="ShowOrHideMethods.socialMediaNewTab('linkedinBtn');">
                        <a id="linkedinBtn" class="btn-floating btn-li fa-2x">
                            <i class=" fa fa-linkedin-square"> </i>
                        </a>
                    </button>
                </li>
            </ul>
            <!-- Social buttons -->

        </div>
        <!-- Footer Elements -->
        <!-- Copyright -->
        <div class="footer-copyright text-center" style="font-size: large;color: black;padding: 10px;">
            © 2020
            Copyright:
            <div class="shadows" onclick="window.open('https://www.linkedin.com/in/recep-celik-poland/?locale=en_US')"
                title="This web application has been created in 2 weeks. Click for developer's LinkedIn page.">
                <span>R</span><span>e</span><span>c</span><span>e</span><span>p</span>
                <span>C</span><span>e</span><span>l</span><span>i</span><span>k</span>
            </div>
        </div>
        </a>
        </div>
        <!-- Copyright -->

    </footer>

    <div class="bottomScrool">
        <p id="bottomScrollP4">Sağlık Bakanlığı; Yurt Dışına Çıkışlarda Gideceği Ülke Tarafından PCR Testi İstenen
            Kişilere Yapılacak Test Uygulamaları hakkında duyuru yayımladı... &#164;&#164; Sağlık Bakanlığı;
            'COVID-19 (SARS-CoV-2 ENFEKSİYONU) GENEL BİLGİLER,EPİDEMİOLOJİ VE TANI' adlı kitapçık duyuru
            yayımladı... &#164;&#164; it's not a mobile device.</p>
    </div>
    <!-- end of Footer -->

    <!--back to top button -->
    <button onclick="ShowOrHideMethods.backtoTopFunction();" id="goTotop" title="Go to top"></button>
    <!--end of back to top button -->

    <!-- -----------scripts----------------------------- -->
    <script type=" text/javascript" src="../../public/functions/functions.js"></script>
    <!-- -----------end of scripts----------------------------- -->

</body>

</html>